@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
}
body {
  margin: 0;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.currentPage {
  background-color: #eef2ff;
}
